.confirm-order{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 11px;
    font-size: 20px;
    font-family: "Itim", cursive;
}

.btns-map-confirm{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}