.card {
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
  border: 2px #000 solid;
  padding: 19px 24px 10px 24px;
}

.hader-user {
  display: flex;
  flex-direction: column;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.header-user-category {
  font-size: 24px;
}

.header-user-name {
  font-size: 32px;
}

.header-logo-name {
  font-size: 48px;
}

.header-logo-subname {
  font-size: 24px;
}

.header-home {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 17px 16px;
  color: #fff;
  font-family: "Itim", cursive;
}

.color-orange {
  color: #ffd27d;
}

.profit-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: "Itim", cursive;
  margin-top: 63px;
}

.profit-home-title {
  font-size: 24px;
}

.profit-home-summary {
  font-size: 64px;
}

.record-home {
  font-family: "Itim", cursive;
  margin-top: 35px;
  font-size: 24px;
}

.record-summary {
  display: flex;
  justify-content: space-between;
}

.record-view-history {
  display: flex;
  justify-content: center;
  margin-top: 13px;
}

.order-home {
  margin-top: 35px;
  font-family: "Itim", cursive;
}

.order-home-title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 38px;
}

.card-order {
  background-color: #9ddfd2;
  border-radius: 16px;
  padding: 7px 14px;
  margin-bottom: 15px;
  font-family: "Itim", cursive;
}

.card-order-name-summary {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin-bottom: 18px;
}

.card-order-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  color: #5B5B5B
}

.record-view-orders{
  display: flex;
  justify-content: center;
  gap: 0.3em;
  margin-bottom: 10px;
}