
.profile-screen {
  width: 100%;
  max-width: 100vw;     
  overflow-x: hidden; 
  margin: auto;
  min-height: 105vh;
  font-family: "Itim", cursive;
  color: #fff;
  box-sizing: border-box;
  padding-bottom: 80px; 
}


.profile-screen .avatar-wrapper {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-screen .avatar-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid black;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-screen .avatar-circle svg {
  width: 85px;
  height: 85px;
}

.profile-screen .avatar-username {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
}
.profile-screen .form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: 89%; 
  margin-left: auto; 
  margin-right: auto;
}



.profile-screen .label {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

.profile-screen .input {
  width: 90%;  
  background: white;
  padding: 12px 15px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 15px;
  color: rgb(126, 126, 126);
}

.profile-screen .actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 30px;
  align-items: center;
}

.profile-screen .btn {
  width: 80%;
  padding: 15px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;

}

.profile-screen .btn-edit {
  background: #4285f4;
  color: white;
}

.profile-screen .btn-logout {
  background: #e57373;
  color: white;
}

.profile-screen .btn:hover {
  opacity: 0.9;
}
