.form-body3 {
    display: grid;
    align-items: center;
    gap: 14px;
}

.form2 {
    height: 55px;
    border-radius: 16px;
    font-family: "Itim", cursive;
    font-size: 24px;
    width: 365px;
    
}

.accion-register03 {
    background-color: #FFFFFF;
    height: 500px;
    border-radius: 60px 60px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 34px;
    padding-top: 32px;
    margin-top: 19px;
}

.fs-24 {
    font-size: 24px;
}
.fs-32 {
    font-size: 32px;
}
.fs-36{
    font-size: 36px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.color-rojobajo{
    background-color: #EF929B;
}
.color-verdeclaro{
    background-color: #5ED15E;
}
.modal-box {
    background: white;
    padding: 25px;
    border-radius: 53px;
    width: 404px;
    height: 339px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}